@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200&display=swap');
body {
  font-family: 'Urbanist', sans-serif;
}

/* Títulos e destaques */
h1,
h2,
h3,
h4,
h5,
h6,
.title,
.headline,
.font-unbounded {
  /* font-family: 'Unbounded', sans-serif; */
  font-family: 'Urbanist', sans-serif;
}

@media print {
  /* 1. Hide everything on the page by default */
  body * {
    visibility: hidden;
  }

  /* 2. Make ONLY the .printable-area element and its children visible */
  .printable-area,
  .printable-area * {
    visibility: visible;
  }

  /* 3. Position the printable area to take up the entire page */
  .printable-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 1rem;
  }
}
